.pie {
  position: relative;
  width: 380px;
  height: 380px;
  margin: 0 auto;
}
.pie .master {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}
.pie .slice {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  clip: rect(0px, 300px, 300px, 150px);
}
.pie .inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  clip: rect(0px, 150px, 300px, 0px);
}
.pie .cover {
  background: #555;
  position: absolute;
  top: 16px;
  left: 16px;
  bottom: 16px;
  right: 16px;
  border-radius: 100%;
}

a {
  display: block;
}

.content {
  padding-top: 42px;
  text-align: center;
}
.content h2 {
  font-weight: lighter;
  color: #fff;
}

.blue .master {
  background: #b4da55;
}
.blue .inner {
  background: #fff;
}
